@import url(main.css);

.picture-selector-holder {
    position: absolute;
    z-index: 1999;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.picture-selector-div {
    background: rgb(255, 255, 255);
    height: 800px;
    width: 850px;
    z-index: 2000;
    position: absolute;
    top: 15%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgb(92, 92, 92);
}

.picture-selector {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-y: auto;
    padding-bottom: 10px;
}

.picture-selector-picture {
    cursor: pointer;
    height: 200px;
    width: 200px;
}

.picture-selector-picture:hover {
    height: 196px;
    width: 196px;
    border: 2px solid black
}

.hide-picture-selector {
    display: none;
}

.picture-selector-exit-button {
    position: absolute;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    top: 0;
    right: 0;
    margin-right: -40px;
    margin-top: 5px;
    font-size: 1.8rem;
    border-radius: 20px;
    border: 1px;
    cursor: pointer;
}

.hide-picture-selector {
    visibility: hidden;
}